.post h1 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.post time {
  font-size: 1rem;
  color: 'gray.500';
  margin-bottom: 1rem;
}

.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: gray.800;
}

.post a {
  color: rgb(59, 175, 247);
}
.post p {
  margin-bottom: 1rem;
  padding: 0.1rem;
}
.post pre {
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  background-color: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.post p ul {
  margin: 1.5rem 0;
}

.post ul {
  padding-left: 1.5rem;
}

.post ul li {
  margin: 0.5rem 0;
}

.post img {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto 0;
}
